.feed {

}

.feed-header {
  .source-link {
    color: #000;
  }

  .source-link:hover {
    color: #007bff;
    text-decoration: none;
  }

  .source-logo {
    width: 32px;
    height: 32px;
  }

  .source-name {
    position: relative;
    top: 4px;
    font-size: 22px;
  }
}

.feed-body {

}

.feed-footer {

}

.feed-item {
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
  }

  .avatar:hover {
    transform: scale(1.2);
  }
}

.feed-item-header {

}

.feed-item-body {

}

.feed-item-footer {
  height: 19px;

  .social {
    display: inline-block;

    .social-item {
      margin-right: 20px;
      cursor: pointer;
      transition: all .2s ease-in-out;
      display: inline-block;
    }

    .social-item:hover {
      color: #007bff;
      transform: scale(1.2);
    }
  }

  .date {
    white-space: nowrap;
  }
}
